[submodule "FrontEnd"]
	path = FrontEnd
	url = git@github.com:prefeiturasp/SME-Contratos-FrontEnd.git
[submodule "BackEnd"]
	path = BackEnd
	url = git@github.com:prefeiturasp/SME-Contratos-BackEnd.git
